*{
  margin: 5px;
}

.button {
  padding: 5px 25px;
  box-shadow: 0 0 10px black;
  border: 2px solid black;
  border-radius: 5px; 
  margin: 10px 3px 0 0;
  font-weight: bold;
  color: white;
}

.button:hover{
  color: black;
  transition: all 0.25s;
  border-radius: 15px;
}

.plus {
  background-color: rgba(28, 12, 150, 1);
}

.plus:hover {
  background-color: rgb(0, 34, 230);
}


.minus {
  background-color: rgba(150, 12, 28, 1);
}

.minus:hover {
  background-color: rgb(255, 20, 63);
}

.del5 {
  background-color: rgb(146, 15, 146);
}

.del5:hover {
  background-color: rgb(216, 63, 216);
}

.add5 {
  background-color: rgb(4, 114, 46);
}

.add5:hover {
  background-color: rgb(111, 228, 95);
}